body {
  box-sizing: border-box;
  background-color: white;
  color: black;
}

#root {
  box-sizing: border-box;
}

.frontPage {
  font-family: "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  justify-content: center;
  padding-left: 20%;
}

.header {
  padding-top: 3%;
  width: 20%;
  float: left;
  position: fixed;
  -webkit-font-smoothing: subpixel-antialiased;
}

.header a {
  align-self: left;
  align-items: left;
  align-content: left;
}

.header a:visited {
  color: #267cb9;
}

a {
  color: #267cb9;
}

a:visited {
  color: purple;
}

small {
  font-size: 11px;
}

.search-results {
  padding: 0% 20% 20% 30%;
  width: 40%;
}

.result {
  padding: 0.25em 0.5em;
}
