body {
  box-sizing: border-box;
  background-color: #222222;
}

#root {
  box-sizing: border-box;
}

.frontPage {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: column;
  height: 100;
  color: whitesmoke;
  text-align: center;
  justify-content: center;
}

.search-results {
  justify-content: center;
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  box-sizing: border-box;
  /* justify-content: normal ; */
  align-content: flex-start;
  padding-left: 1em;
  padding-right: 1em;
}

.result {
  width: 30%;
  padding: 0.25em 0.5em;
}

.section-results {
  list-style-type: disc;
  display:inline;
  padding: 10px 40px;
  /* padding-left: 1em;
  padding-right: 1em;
  justify-content: center;
  align-items: flex-start;
  display: flex; */
}

.sect-drop {
  box-sizing: border-box;
  width: 10rem;
  align-self: center;
}